@import '../../scss/colors.scss';

.champion-container {
  max-width: 120px;
}

.champion {
  min-width: 120px;
  max-width: 100%;
  min-height: 120px;
  max-height: 100px;
  height: auto;
}

.champion-search-input {
  padding: 8px !important;
  font-size: medium !important;
  background-color: $color-hextech-black;
  border-color: $color-blue-4;
  color: $color-blue-1 !important;
}

.champion-search-input:focus {
  background-color: $color-hextech-black;
  border-color: $color-blue-4;
  box-shadow: 0 0 10px 0px $color-blue-4;
}

.champion-search-input::placeholder {
  color: $color-blue-4 !important;
}
