@import '../../scss/colors.scss';

.champion {
  min-width: 120px;
  max-width: 100%;
  min-height: 120px;
  max-height: 100px;
  height: auto;
}

.champion-search-input {
  padding: 12px !important;
  font-size: medium !important;
  background-color: $color-hextech-black;
  border-color: $color-gold-2;
  color: $color-gold-1 !important;
}

.champion-search-input:focus {
  background-color: $color-hextech-black;
  border-color: $color-gold-1;
  box-shadow: 0 0 10px 0px $color-gold-2;
}
