@import '../../scss/colors.scss';

.player-card-container {
  margin: 0;
  padding: 12px 24px;
  position: relative;

  min-height: 200px;
  max-height: 300px;

  background-image: linear-gradient($color-blue-5, 70%, $color-blue-7);

  //min-width: 100px;
  //max-width: 300px;
  //border: 1px solid $color-blue-1;
  //box-shadow: 0px 0px 15px 0 $color-blue-3;
  //background-color: $color-blue-6;
  //flex: 1;
  //background-color: $color-blue-5;
  //clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
}

.selected-champion {
  min-width: 54px;
  max-width: 100%;
  min-height: 54px;
  max-height: 100px;
  height: auto;
}

.champion-name-container {
  font-size: large;
}

.champion-name-container label {
  font-weight: bold;
}

.player-name-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: xx-large;
  overflow: hidden;
}

.player-name-container label {
  font-weight: bold;
}

.btn-check {
  margin: 0px !important;
  padding: 0px !important;
}

.btn-check:checked + .btn {
  background-image: linear-gradient(
    $color-green-1,
    70%,
    $color-green-5
  ) !important;
  color: $color-hextech-black !important;
  //box-shadow: 0 0 10px 0 $color-green-3;
}

.btn-check:not(:checked) + .btn {
  //background-image: linear-gradient($color-red-4, $color-red-7) !important;
  border: 1px solid $color-red-2;
  color: $color-gold-1;
}

.ready-toggle {
  padding: 0px;
  max-width: 100px;
  font-size: large;
  //position: absolute;
  //bottom: 0%;
  //left: 1%;
  //transform: translateX(0%);
}

.health-bar {
  margin-bottom: 24px;
  height: 30px;
  background-color: $color-hextech-black;
  //border: 1px solid white !important;
}

.health-bar .progress-bar {
  background-image: linear-gradient($color-green-2, $color-green-7);
}

.source-bar {
  height: 30px;
  background-color: $color-hextech-black;
}

.source-bar .progress-bar {
  background-image: linear-gradient(dodgerblue, blue);
}
