/* Home.css */
.join-room-form {
  margin: 10vh auto;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  background: linear-gradient(#c89b3c, #785a28);
}
