@import './scss/colors.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-gold-1 !important;
  background-color: $color-hextech-black !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  font-size: x-large;
}

.btn-gradient-gold {
  background-image: $gradient-gold !important;
  border-color: $color-gold-7 !important;
}

.btn-gradient-gold:hover {
  background-image: linear-gradient($color-gold-3, $color-gold-4) !important;
}

.Toastify__close-button {
  max-width: 10% !important;
}
