// RED

$color-red-1: #ff0000;
$color-red-2: #f50f0f;
$color-red-3: #eb1d1d;
$color-red-4: #d30000;
$color-red-5: #b50000;
$color-red-6: #980000;
$color-red-7: #740000;

// BLUE

$color-blue-1: #cdfafa;
$color-blue-2: #0ac8b9;
$color-blue-3: #0397ab;
$color-blue-4: #005a82;
$color-blue-5: #0a323c;
$color-blue-6: #091428;
$color-blue-7: #0a1428;

// GOLD

$color-gold-1: #f0e6d2;
$color-gold-2: #c8aa6e;
$color-gold-3: #c8aa6e;
$color-gold-4: #c89b3c;
$color-gold-5: #785a28;
$color-gold-6: #463714;
$color-gold-7: #32281e;

// GREY

$color-grey-1: #a09b8c;
$color-grey-1-5: #5b5a56;
$color-grey-2: #3c3c41;
$color-grey-3: #1e2328;
$color-grey-cool: #1e282d;
$color-hextech-black: #010a13;

// GRADIENTS

$gradient-dark-blue: linear-gradient(0, $color-blue-6, $color-blue-7);
$gradient-gold: linear-gradient(0, $color-gold-5, $color-gold-4);
$gradient-blue: linear-gradient(0, $color-blue-4, $color-blue-2);
